name: Generate Resume PDF

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  convert_to_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Markdown to PDF
        uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_dir: .
          output_dir: output
          build_html: false

      - name: Commit PDF
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add output/*.pdf
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Resume PDF" && git push)